/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans text-gray-800;
  }
} */

/* @layer components {
  .btn {
    @apply inline-flex items-center justify-center px-6 py-3 rounded-lg font-medium transition-all duration-300;
  }

  .btn-primary {
    @apply bg-blue-900 text-white hover:bg-blue-800 hover:shadow-lg;
  }

  .btn-outline {
    @apply bg-white text-blue-900 border border-blue-900 hover:bg-blue-50;
  }

  .section-title {
    @apply text-3xl md:text-4xl font-bold mb-4;
  }

  .section-description {
    @apply text-gray-600 max-w-2xl mx-auto;
  }
} */

/* Custom animations */
/* .fade-in {
  opacity: 0;
  animation: fadeIn 0.6s ease-in-out forwards;
} */

/* .slide-up {
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 0.6s ease-in-out forwards;
} */

/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

/* @keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} */

body {
  font-family: "Uber Move Text", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.dark {
  --tw-bg-opacity: 1;
  background-color: rgba(9, 9, 11, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(243, 244, 246, var(--tw-text-opacity));
}
img {
  width: auto;
  height: auto;
  display: block;
  max-width: 100%;
  object-fit: cover;
}
[loading="lazy"] {
  content-visibility: auto;
  contain-intrinsic-size: 500px auto;
}
@keyframes kenburns {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

.animate-kenburns {
  animation: kenburns 6s ease-in-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease forwards;
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

   @keyframes marquee {
          0% { transform: translateX(0%); }
          100% { transform: translateX(-50%); }
        }
        .animate-marquee { animation: marquee 3.5s linear infinite; 
        }
        @keyframes scroll {
          0% { transform: translateX(0%); }
          100% { transform: translateX(-50%); }

      
        }
            .animate-scroll {
            animation: scroll 20s linear infinite;
            width: fit-content;
        
          }
          .animate-scroll::hover{
            animation-play-state: paused;

          }
          @media (prefers-reduced-motion: reduce) {
            .animate-scroll {
              animation: none;
            }
          }

          
        
          